@page "/select"
@rendermode RenderMode.InteractiveServer
@using SeerrFixarr.Api.Overseerr
@using SeerrFixarr.Api.Radarr
@using SeerrFixarr.Api.Shared
@using SeerrFixarr.Api.Sonarr
@using SeerrFixarr.App.Shared
@using SeerrFixarr.Shared
@inject TokenCreator TokenCreator
@inject IRadarrApi RadarrApi
@inject ISonarrApi SonarrApi

@if (_validToken == false)
{
    <Alert Icon="error" Title="Error..." Type="AlertType.Destructive"
           Description="Invalid one-time token provided. "/>
}
else if (Releases == null)
{
    @if (!string.IsNullOrEmpty(SelectedLottieUrl))
    {
        <Lottie Source="@SelectedLottieUrl" Class="loading"/>
    }
}
else if (Releases.Count == 0)
{
    <Alert Icon="warning" Title="Warning..." Description="No releases found." Type="AlertType.Warning"/>
}
else
{
    <DataTable Items="Releases" OnClick="OnReleaseSelected" TItem="InteractiveRelease">
        <DataColumns>

            <DataTableColumn Header="Score" Property="x => x.CustomFormatScore" SortOn="@_sortModel"
                             OnSort="HandleSorting" Width="50px"/>
            <DataTableColumn Header="Title" Property="x => x.Title"/>

            <DataTableColumn Header="Language" Property="x => x.Languages" Width="15px" SortOn="@_sortModel"
                             OnSort="HandleSorting">
                <Template>
                    @switch (context.Languages.Count)
                    {
                        case 0:
                            <span class="text-muted">No languages</span>
                            break;
                        case 1:
                            <Button Text="@context.Languages[0].Name" Disabled Type="ButtonType.Secondary"/>
                            break;
                        default:
                            <Tooltip Tip="@string.Join(Environment.NewLine, context.Languages.Select(l => l.Name))"
                                     TipWidth="10px" ShowBelow>
                                <Button Text="Multi-language" Disabled Type="ButtonType.Secondary"/>
                            </Tooltip>
                            break;
                    }
                </Template>
            </DataTableColumn>

            <DataTableColumn Header="Protocol" Property="x => x.DownloadProtocol" Width="50px" SortOn="@_sortModel"
                             OnSort="HandleSorting">
                <Template>
                    <Button Disabled
                            Type="@(context.DownloadProtocol == DownloadProtocol.Torrent ? ButtonType.Info : ButtonType.Success)"
                            Text="@context.DownloadProtocol.ToString()"/>
                </Template>
            </DataTableColumn>

            <DataTableColumn Header="Quality" Property="x => x.Quality.Quality.Name" SortOn="@_sortModel"
                             OnSort="HandleSorting" Width="50px"/>

            <DataTableColumn Header="Size" Property="x => x.Size" Width="100px" SortOn="@_sortModel"
                             OnSort="HandleSorting" Align="Alignment.Center">
                <Template>@($"{UnitsNet.Information.FromBytes(context.Size).Gigabytes:F2} GB")</Template>
            </DataTableColumn>

            <DataTableColumn Header="Rejections" Property="x => x.Rejections" SortOn="@_sortModel"
                             OnSort="HandleSorting" Width="50px" Align="Alignment.Center">
                <Template>
                    @if (context.Rejections.Any())
                    {
                        <Tooltip Tip="@(string.Join(Environment.NewLine, context.Rejections))" TipWidth="10px"
                                 ShowBelow>
                            <Icon Name="circle-alert" Color="red" Type="IconType.Lucide"></Icon>
                        </Tooltip>
                    }
                    else
                    {
                        <Icon Name="circle-check" Color="green" Type="IconType.Lucide"></Icon>
                    }
                </Template>
            </DataTableColumn>

            <DataTableColumn Header="Age" Property="x => x" Width="100px" SortOn="@_sortModel" OnSort="HandleSorting">
                <Template>
                    @(GetReadableAge(context))
                </Template>
            </DataTableColumn>
        </DataColumns>
    </DataTable>
}
@if (!string.IsNullOrEmpty(SelectedLottieUrl))
{
    <Dialog Show="@_selectionConfirmed">
        <Header>
            Request has been sent. You may close this site now...
        </Header>
        <Content>
            <Lottie Source="https://lottie.host/f71fc150-b932-43c8-8e94-9a56378e9532/h8dqLNwhtu.json"
                    Class="downloading" Loop="false"/>
        </Content>
    </Dialog>
}
@if (!string.IsNullOrEmpty(SelectedLottieUrl))
{
    <Dialog Show="@_showConfirm">
        <Header>
            Do you want to download this release?
        </Header>
        <Content>
            If this turns out to be a bad release, I will punch you.
        </Content>
        <Footer>
            <Button Text="Cancel" Type="ButtonType.Destructive" OnClick="() => HandleCancel()"/>
            <Button Text="Continue" OnClick="() => HandleConfirm()" Type="ButtonType.Success"/>
        </Footer>
    </Dialog>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = Constants.TokenQueryParameterName)]
    public string Token { get; set; } = null!;
    private bool? _validToken;
    private MediaType _type;
    private List<InteractiveRelease>? Releases { get; set; }
    private string SelectedLottieUrl { get; set; } = "";
    private bool _showConfirm = false;
    private bool _selectionConfirmed = false;
    private InteractiveRelease? _selectedRelease;

    SortModel _sortModel = new() { Header = "Default", IsAscending = true };

    private readonly string[] LottieUrls =
    [
        "https://lottie.host/a627b5c0-0ab3-4c49-93bb-a932abad340c/0Gqo2a9cNJ.json", // Among Us
        "https://lottie.host/71193800-a90c-4077-9b4f-14d2500ab554/e6fEgiQUvj.json" // Dinosaur
    ];

    protected override void OnAfterRender(bool firstRender)
    {
        SelectedLottieUrl = LottieUrls[new Random().Next(LottieUrls.Length)];
        if (firstRender)
        {
            LoadReleasesAsync().ContinueWith(_ => HandleSorting(_sortModel));
        }

        StateHasChanged();
    }

    private async Task LoadReleasesAsync()
    {
        try
        {
            _validToken = TokenCreator.TryValidateToken(Token, out var data);
            if (_validToken == true)
            {
                (var id, _type) = data;
                Releases = (_type switch
                {
                    MediaType.Movie => await RadarrApi.GetMovieReleases(id),
                    MediaType.Tv => await SonarrApi.GetEpisodeReleases(id),
                    _ => throw new InvalidOperationException("Invalid media type")
                }).ToList();
            }
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await Console.Error.WriteLineAsync($"Error loading releases: {ex.Message}");
            Releases = [];
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    private void HandleSorting(SortModel sortModel)
    {
        if (Releases is null) return;

        Releases = (sortModel.Header.ToLower(), sortModel.IsAscending) switch
        {
            ("default", true) => Releases.OrderBy(a => a.Rejections.Count)
                .ThenBy(a => a.DownloadProtocol)
                .ThenByDescending(a => a.CustomFormatScore)
                .ThenByDescending(a => a.Languages.Count)
                .ThenByDescending(a => a.Size)
                .ThenByDescending(a => a.Quality.Quality.Resolution)
                .ToList(),
            ("score", true) => Releases.OrderBy(a => a.CustomFormatScore).ToList(),
            ("score", false) => Releases.OrderByDescending(a => a.CustomFormatScore).ToList(),
            ("protocol", true) => Releases.OrderBy(a => a.DownloadProtocol).ToList(),
            ("protocol", false) => Releases.OrderByDescending(a => a.DownloadProtocol).ToList(),
            ("size", true) => Releases.OrderBy(a => a.Size).ToList(),
            ("size", false) => Releases.OrderByDescending(a => a.Size).ToList(),
            ("language", true) => Releases.OrderBy(a => a.Languages.Count).ThenBy(a => a.Languages.FirstOrDefault()?.Name).ToList(),
            ("language", false) => Releases.OrderByDescending(a => a.Languages.Count).ThenByDescending(a => a.Languages.FirstOrDefault()?.Name).ToList(),
            ("age", true) => Releases.OrderBy(a => a.AgeMinutes).ToList(),
            ("age", false) => Releases.OrderByDescending(a => a.AgeMinutes).ToList(),
            ("quality", true) => Releases.OrderBy(a => a.Quality.Quality.Resolution).ToList(),
            ("quality", false) => Releases.OrderByDescending(a => a.Quality.Quality.Resolution).ToList(),
            (_, _) => Releases
        };
    }

    private string GetReadableAge(InteractiveRelease context)
    {
        return context switch
        {
            { Age: 1 } => "1 day",
            { Age: > 1 } => $"{context.Age} days",
            { AgeHours: 1 } => "1 hour",
            { AgeHours: > 1 } => $"{context.AgeHours:N2} hours",
            { AgeMinutes: 1 } => "1 minute",
            { AgeMinutes: > 1 } => $"{context.AgeMinutes:N2} minutes",
            _ => "Just now"
        };
    }

    private void HandleCancel()
    {
        _showConfirm = false;
        _selectedRelease = null;
    }

    private void HandleConfirm()
    {
        _showConfirm = false;
        _selectionConfirmed = true;
        StateHasChanged();
        TokenCreator.RevokeToken(Token);
        var request = InteractiveReleaseGrabRequest.FromRelease(_selectedRelease!);
        _ = _type switch
        {
            MediaType.Movie => RadarrApi.InteractiveGrabMovie(request),
            MediaType.Tv => SonarrApi.InteractiveGrabEpisode(request),
            _ => throw new InvalidOperationException("Invalid media type")
        };
    }

    void OnReleaseSelected(InteractiveRelease obj)
    {
        if (obj is null) return;
        _selectedRelease = obj;
        _showConfirm = true;
    }

}